
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}


::-moz-scrollbar {
  display: none;
}

::-ms-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.btn{
@apply bg-color-secondary px-9 py-3 rounded-lg capitalize font-bold hover:opacity-80 ease-in duration-200;
}
.title{
@apply text-4xl md:text-5xl font-bold leading-snug mb-4;
}